<ons-page id="home">

  <ons-navigator swipeable id="myNavigator" page="Hmovie.html"></ons-navigator>
  
  <template id="Hmovie.html">
   
    <ons-page id="Hmovie">
      
      <ons-carousel swipeable auto-scroll id="homemovie">
        <ons-carousel-item modifier="nodivider" id="pic1">
          <img src="../images/tesla.jpg" width="100%" height="800" />
        </ons-carousel-item>
        <ons-carousel-item modifier="nodivider" id="pic2">
          <img src="../images/tenet.jpg" width="100%" height="800" />
        </ons-carousel-item>
        <ons-carousel-item modifier="nodivider" id="pic3">
          <img src="../images/blackwidow.jpg" width="100%" height="800" />
        </ons-carousel-item>
      </ons-carousel>
    
    </ons-page>
  
  </template>
</ons-page>