<ons-page id="home">

    <h2>Top 10 this month</h2>
    <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel"  >
        <ons-carousel-item style="background-image: url('../images/tanet.jpg')">
         
        </ons-carousel-item>
        <ons-carousel-item style="background-image: url('../images/tesla.jpg')">
         
        </ons-carousel-item>
        <ons-carousel-item style="background-image: url('../images/blackwidow.jpg')">
         
        </ons-carousel-item>
    </ons-carousel>

 


</ons-page>