<ons-page>
    <div class="trailer">
        <ons-icon icon="fa-play-circle"></ons-icon>
        <img src="../images/tesla.jpg" style="width: 50%; margin-left: 20%; margin-top: 50px;">
    </div>

    </div>
    <div style="margin-top: 20px; text-align: center;">
        <h1>TESLA</h1>

        <ons-col class="stars">
            <ons-icon style="color: rgb(253, 188, 10)" icon="fa-star"></ons-icon>
            <ons-icon style="color: rgb(253, 188, 10)" icon="fa-star"></ons-icon>
            <ons-icon style="color: rgb(253, 188, 10)" icon="fa-star"></ons-icon>
            <ons-icon style="color: rgb(253, 188, 10)" icon="fa-star"></ons-icon>
            <ons-icon style="color: gray" icon="fa-star"></ons-icon>
        </ons-col>

        <p>Brilliant, brooding inventor Nikola Tesla (Ethan Hawke) fights an uphill battle to bring his revolutionary
            electrical system to fruition. Increasingly displeased by the greed of fellow inventor Thomas Edison (Kyle
            MacLachlan), Tesla forges his own virtuous but arduous path toward creating the innovative alternate-current
            motor. His European nature is at odds with budding American industrialism, and the landscape of intellectual
            property is treacherous--and Tesla slowly becomes jailed in his overactive mind. His associate Anne Morgan
            (Eve Hewson) analyzes and presents his story as it unfolds, offering a distinctly modern voice in this
            scientific period drama.</p>
        <p>
            Actor/Actress :  Ethan Hawke,
                             Eve Hewson,
                             Kyle MacLachlan
            
        </p>
        <p>Director: Michael Almereyda</p>
    </div>
</ons-page>