<ons-page>
    <div class="trailer">
        <ons-icon icon="fa-play-circle"></ons-icon>
        <img src="../images/blackwidow.jpg" style="width: 50%; margin-left: 25%; margin-top: 50px;">
    </div>

    </div>
    <div style="margin-top: 20px; text-align: center;">
        <h2>BLACK WIDOW</h2>

        <p>Coming Soon</p>
        <p>In Marvel Studios’ action-packed spy thriller “Black Widow,” Natasha Romanoff, aka Black Widow, confronts the
            darker parts of her ledger when a dangerous conspiracy with ties to her past arises. Pursued by a force that
            will stop at nothing to bring her down, Natasha must deal with her history as a spy and the broken
            relationships left in her wake long before she became an Avenger. Scarlett Johansson reprises her role as
            Natasha/Black Widow, Florence Pugh stars as Yelena, David Harbour portrays Alexei/The Red Guardian, and
            Rachel Weisz is Melina. Directed by Cate Shortland and produced by Kevin Feige, “Black Widow”—the first film
            in Phase Four of the Marvel Cinematic Universe</p>
        <p>
            Actor/Actress :Scarlett Johansson
        </p>
        <p>Director :Cate Shortland</p>
    </div>
</ons-page>