<ons-page>
    <div class="trailer">
    <ons-icon icon="fa-play-circle"></ons-icon>
        <img src="../images/tanet.jpg" style="width: 50%; margin-left: 20%; margin-top: 50px;">
    </div>
  
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <h1>TENET</h1>
  
        <ons-col class="stars">
          <ons-icon style="color: rgb(253, 188, 10)" icon="fa-star"></ons-icon>
          <ons-icon style="color: rgb(253, 188, 10)" icon="fa-star"></ons-icon>
          <ons-icon style="color: rgb(253, 188, 10)" icon="fa-star"></ons-icon>
          <ons-icon style="color: rgb(253, 188, 10)" icon="fa-star"></ons-icon>
          <ons-icon style="color: rgb(253, 188, 10)" icon="fa-star"></ons-icon>
        </ons-col>
  
        <p>The plot is currently
            unknown. The project is described as an action epic revolving around international espionage, time
            travel, and evolution.</p>
          <p>
            Actor/Actress :
Robert Pattinson, Elizabeth Debicki, Aaron Taylor-Johnson<br/>
            
          </p>
          <p>Director: Christopher Nolan</p>
    </div>
  </ons-page>