<ons-page id="search">
    <ons-list>

        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="images/tesla.jpg">
            </div>
            <div class="center">
                <span class="list-item__title">Tesla</span><span class="list-item__subtitle">Brilliant, brooding
                    inventor Nikola Tesla (Ethan Hawke) fights an uphill
                    battle to bring his revolutionary electrical system to fruition. Increasingly displeased by the
                    greed of fellow inventor Thomas Edison (Kyle MacLachlan), Tesla forges his own virtuous but arduous
                    path toward creating the innovative alternate-current motor. His European nature is at odds with
                    budding American industrialism, and the landscape of intellectual property is treacherous--and Tesla
                    slowly becomes jailed in his overactive mind. His associate Anne Morgan (Eve Hewson) analyzes and
                    presents his story as it unfolds, offering a distinctly modern voice in this scientific period
                    drama.

                </span>
            </div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="images/tanet.jpg">
            </div>
            <div class="center">
                <span class="list-item__title">Tenet</span><span class="list-item__subtitle">The plot is currently
                    unknown. The project is described as an action epic revolving around international espionage, time
                    travel, and evolution.</span>
            </div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="images/blackwidow.jpg">
            </div>
            <div class="center">
                <span class="list-item__title">Black Widow</span><span class="list-item__subtitle">In Marvel Studios’
                    action-packed spy thriller “Black Widow,” Natasha Romanoff, aka Black Widow, confronts the darker
                    parts of her ledger when a dangerous conspiracy with ties to her past arises. Pursued by a force
                    that will stop at nothing to bring her down, Natasha must deal with her history as a spy and the
                    broken relationships left in her wake long before she became an Avenger. Scarlett Johansson reprises
                    her role as Natasha/Black Widow, Florence Pugh stars as Yelena, David Harbour portrays Alexei/The
                    Red Guardian, and Rachel Weisz is Melina. Directed by Cate Shortland and produced by Kevin Feige,
                    “Black Widow”—the first film in Phase Four of the Marvel Cinematic Universe</span>
            </div>
        </ons-list-item>
    </ons-list>


</ons-page>