<ons-page id="search">
    <ons-list>

        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="../images/tesla.jpg">
            </div>
            <div class="center">
                <span class="list-item__title">Tesla</span><span class="list-item__subtitle">Brilliant, brooding
                    inventor Nikola Tesla (Ethan Hawke) fights an uphill
                    battle to bring his revolutionary electrical system to fruition...

                </span>
            </div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="../images/tenet.jpg">
            </div>
            <div class="center">
                <span class="list-item__title">Tenet</span><span class="list-item__subtitle">The plot is currently
                    unknown...</span>
            </div>
        </ons-list-item>
        <ons-list-item>
            <div class="left">
                <img class="list-item__thumbnail" src="../images/blackwidow.jpg">
            </div>
            <div class="center">
                <span class="list-item__title">Black Widow</span><span class="list-item__subtitle">In Marvel Studios’
                    action-packed spy thriller “Black Widow,” Natasha Romanoff, aka Black Widow, confronts the darker
                    parts of her ledger when a dangerous conspiracy with ties to her past arises...</span>
            </div>
        </ons-list-item>
    </ons-list>


</ons-page>